<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<style type="text/css">
	li {list-style: none; display:inline; padding: 6px;}
</style>
</head>
<body>
		<li th:if="${session.member != null}"><a th:href="@{/logout}">로그아웃</a></li>
		<li th:if="${session.member == null}"><a th:href="@{/}">로그인</a></li>
	
	<h2 th:if="${session.member != null}"><span th:text="${session.member.UserId}"></span>님, 안녕하세요.</h2>
<!-- 		<li th:if="${session.member.UserType == True}"><a th:href="@{trainerRegister}">트레이너 등록</a> -->
<!-- 		<li th:if="${session.member.UserType == True}"><a th:href="@{goRoom}">Create Room</a> -->
<!-- 		<span th:text="${session.room.KeyCode}"></span> -->
</body>

</html>